<?xml version="1.0" encoding="utf-8"?>
<robot name="quadruped" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Define colors for links -->
    <xacro:include
        filename="/workspace/src/robot_descriptions/generic_quadruped_description/xacro/materials.xacro" />

    <!-- Define parameters (masses sizes) for the quadruped -->
    <xacro:include
        filename="/workspace/src/robot_descriptions/generic_quadruped_description/xacro/params.xacro" />

    <!-- Define macros for links, joints, and leg -->
    <xacro:include
        filename="/workspace/src/robot_descriptions/generic_quadruped_description/xacro/leg.xacro" />

    <xacro:base_link
        name="base" L_x="${base_Lx}" L_y="${base_Ly}" L_z="${base_Lz}" mass="${base_m}"
        inertial_link="False" />

    <!-- Insert dummy link to carry inertia values for base link -->
    <xacro:base_link
        name="base_inertia" L_x="${base_Lx}" L_y="${base_Ly}" L_z="${base_Lz}" mass="${base_m}"
        inertial_link="True" />

    <xacro:fixed_joint name="inertial_base_joint" parent="base" child="base_inertia" length="0.0" />

    <xacro:leg leg_name="FR" right="True"
        Px="${base_Lx/2}" Py="${-base_Ly/2}" Pz="0.0" rad="${FR_rad}" L1="${FR_L1}" L2="${FR_L2}"
        L3="${FR_L3}" m1="${FR_m1}" m2="${FR_m2}" m3="${FR_m3}" m4="${FR_m4}" />

    <xacro:leg leg_name="FL" right="False"
        Px="${base_Lx/2}" Py="${base_Ly/2}" Pz="0.0" rad="${FL_rad}" L1="${FL_L1}" L2="${FL_L2}"
        L3="${FL_L3}" m1="${FL_m1}" m2="${FL_m2}" m3="${FL_m3}" m4="${FL_m4}" />

    <xacro:leg leg_name="RL" right="False"
        Px="${-base_Lx/2}" Py="${base_Ly/2}" Pz="0.0" rad="${RL_rad}" L1="${RL_L1}" L2="${RL_L2}"
        L3="${RL_L3}" m1="${RL_m1}" m2="${RL_m2}" m3="${RL_m3}" m4="${RL_m4}" />

    <xacro:leg leg_name="RR" right="True"
        Px="${-base_Lx/2}" Py="${-base_Ly/2}" Pz="0.0" rad="${RR_rad}" L1="${RR_L1}" L2="${RR_L2}"
        L3="${RR_L3}" m1="${RR_m1}" m2="${RR_m2}" m3="${RR_m3}" m4="${RR_m4}" />

</robot>