<?xml version="1.0"?>
<sdf version="1.8" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <include>
        <!-- Robot URDF -->
        <uri>
            /workspace/install/quadruped_description/share/quadruped_description/urdf/quadruped.urdf</uri>

        <!-- Plugin for joint state publisher -->
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>

            <!-- Dynamic Joints -->
            <joint_name>FR_hip_joint</joint_name>
            <joint_name>FR_thigh_joint</joint_name>
            <joint_name>FR_calf_joint</joint_name>
            <joint_name>FL_hip_joint</joint_name>
            <joint_name>FL_thigh_joint</joint_name>
            <joint_name>FL_calf_joint</joint_name>
            <joint_name>RR_hip_joint</joint_name>
            <joint_name>RR_thigh_joint</joint_name>
            <joint_name>RR_calf_joint</joint_name>
            <joint_name>RL_hip_joint</joint_name>
            <joint_name>RL_thigh_joint</joint_name>
            <joint_name>RL_calf_joint</joint_name>
            <joint_name>z_trans_x_trans_joint</joint_name>
        </plugin>

        <!-- Macro for Joint Controllers -->
        <xacro:macro name="add_joint_controller" params="joint_name Kp Ki Kd">
            <plugin
                filename="libJointPositionControllerTorquePublisher.so"
                name="quadruped_gazebo::JointPositionControllerTorquePublisher">
                <joint_name>${joint_name}</joint_name>
                <topic>quadruped/cmd_${joint_name}</topic>
                <p_gain>${Kp}</p_gain>
                <i_gain>${Ki}</i_gain>
                <d_gain>${Kd}</d_gain>
                <torque_topic>/quadruped/${joint_name}_torque</torque_topic>
                <cmd_max>33.5</cmd_max>
                <cmd_min>-33.5</cmd_min>
            </plugin>
        </xacro:macro>

        <plugin filename="libgz-sim-apply-joint-force-system"
            name="gz::sim::v8::systems::ApplyJointForce">
            <joint_name>z_trans_x_trans_joint</joint_name>
        </plugin>

        <!-- Hip PID Gains -->
        <!-- originial -->
        <!-- <xacro:property name="hip_Kp" value="100.0" />
        <xacro:property name="hip_Ki" value="0.0" />
        <xacro:property name="hip_Kd" value="2.0" />
         -->
        <xacro:property name="hip_Kp" value="10.0" />
        <xacro:property name="hip_Ki" value="0.0" />
        <xacro:property name="hip_Kd" value="2.0" />

        <!-- Thigh PID Gains -->
        <xacro:property name="thigh_Kp" value="250.0" />
        <xacro:property name="thigh_Ki" value="0.0" />
        <xacro:property name="thigh_Kd" value="2.5" />

        <!-- Calf PID Gains -->
        <xacro:property name="calf_Kp" value="250.0" />
        <xacro:property name="calf_Ki" value="0.0" />
        <xacro:property name="calf_Kd" value="2.5" />

        <!-- Explicitly Add All Joints -->
        <xacro:add_joint_controller joint_name="FR_hip_joint" Kp="${hip_Kp}" Ki="${hip_Ki}" Kd="${hip_Kd}" />
        <xacro:add_joint_controller joint_name="FR_thigh_joint" Kp="${thigh_Kp}" Ki="${thigh_Ki}" Kd="${thigh_Kd}" />
        <xacro:add_joint_controller joint_name="FR_calf_joint" Kp="${calf_Kp}" Ki="${calf_Ki}" Kd="${calf_Kd}" />
        <xacro:add_joint_controller joint_name="FL_hip_joint" Kp="${hip_Kp}" Ki="${hip_Ki}" Kd="${hip_Kd}" />
        <xacro:add_joint_controller joint_name="FL_thigh_joint" Kp="${thigh_Kp}" Ki="${thigh_Ki}" Kd="${thigh_Kd}" />
        <xacro:add_joint_controller joint_name="FL_calf_joint" Kp="${calf_Kp}" Ki="${calf_Ki}" Kd="${calf_Kd}" />
        <xacro:add_joint_controller joint_name="RR_hip_joint" Kp="${hip_Kp}" Ki="${hip_Ki}" Kd="${hip_Kd}" />
        <xacro:add_joint_controller joint_name="RR_thigh_joint" Kp="${thigh_Kp}" Ki="${thigh_Ki}" Kd="${thigh_Kd}" />
        <xacro:add_joint_controller joint_name="RR_calf_joint" Kp="${calf_Kp}" Ki="${calf_Ki}" Kd="${calf_Kd}" />
        <xacro:add_joint_controller joint_name="RL_hip_joint" Kp="${hip_Kp}" Ki="${hip_Ki}" Kd="${hip_Kd}" />
        <xacro:add_joint_controller joint_name="RL_thigh_joint" Kp="${thigh_Kp}" Ki="${thigh_Ki}" Kd="${thigh_Kd}" />
        <xacro:add_joint_controller joint_name="RL_calf_joint" Kp="${calf_Kp}" Ki="${calf_Ki}" Kd="${calf_Kd}" />
    </include>
</sdf>